@import "fonts.less";

@primary: #428bca;
@success: #5cb85c;
@info:    #5bc0de;
@warning: #f0ad4e;
@danger:  #d9534f;

@primary-hover: #3071A9;
@success-hover: #449D44;
@info-hover: #31B0D5;
@warning-hover: #EC971F;
@danger-hover: #C9302C;

*{
  margin: 0;
  padding: 0;
  border: none;
}

html{
  height: 100%;
  body{
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 14px;
    background: #f3f4f6;
    color: #444;
    select{
      font-family: "PT Sans";
      font-size: 14px;
      padding: 3px 10px;
      border-radius: 3px;
      border: solid 1px #CFCFCF;
      margin: 5px 0 0 0;
    }
    .button{
      display: inline-block;
      padding: 5px 10px;
      margin: 0 5px;
      text-decoration: none;
      color: #FFF;
      border-radius: 3px;
      cursor: pointer;
      &.submit{
        margin: 20px 0 0 0;
      }
      &.info{
        background: @info;
        &:hover{
          background: @info-hover;
        }
      }
      &.success{
        background: @success;
        &:hover{
          background: @success-hover;
        }
      }
      &.warning{
        background: @warning;
        &:hover{
          background: @warning-hover;
        }
      }
      &.danger{
        background: @danger;
        &:hover{
          background: @danger-hover;
        }
      }
      &.primary{
        background: @primary;
        &:hover{
          background: @primary-hover;
        }
      }
    }
    .label{
      display: inline-block;
      padding: 5px 20px;
      color: #FFD;
      &.info{
        background: @info;
      }
      &.success{
        background: @success;
      }
      &.warning{
        background: @warning;
      }
      &.danger{
        background: @danger;
      }
      &.primary{
        background: @primary;
      }
    }
    a{
      color: #39C;
    }
    .record_actions{
      margin: 20px;
      list-style: none;
    }
    .records_list{
      margin: 20px 0 0 0;
      float: left;
      td,th {
        border-bottom: solid 1px #CFCFCF;
        margin: 5px;
        padding: 5px 10px;
      }
      th{
        text-align: left;
      }
    }
    p{
      margin: 10px 0;
      float: left;
    }
    h1{
      border-bottom: solid 1px #444;
      float: left;
      width: 100%;
    }
    ul.default{
      float: left;
      clear: both;
      margin: 0 40px;
    }
    .admin-menu{
      background: @success;
      padding: 0;
      margin: 0;
      list-style-type: none;
      height: 28px;
      ul{
        position: absolute;
        left: -9999px;
        top: -9999px;
        list-style-type: none;
      }
      li{
        float: left;
        &.divider{
          width: 2px;
          height: 28px;
          background: #FFF;
        }
        &:hover{
          position: relative;
          background: @success-hover;
          ul{
            left: 0px;
            top: 28px;
            background: @primary;
            padding: 0px;
            li{
              a{
                padding: 5px;
                display: block;
                width: 200px;
                text-indent: 15px;
                background-color: @primary;
                &:hover{
                  background:@primary-hover;
                }
              }
            }
          }
        }
        a{
          padding: 5px 10px;
          display: block;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .admin-container{
      margin: 20px;
      float: left;
      .pages{
        float: left;
        width: 100%;
        margin: 10px 0;
        .page{
          float: left;
          text-align: center;
          &.active{
            background: @info-hover;
          }
        }
      }
      form{
        margin: 20px;
        float: left;
        width: 100%;

        .row{
          float: left;
          width: 100%;
          margin: 5px 0 0;
        }
        .empty{
          height: 22px;
          padding: 8px 0 0 0;
        }
        label{
          width: 200px;
          float: left;
          text-align: right;
          padding: 0 10px 0 0;
          position: relative;
          top: 8px;
        }
        input[type="text"], input[type="file"], input[type="password"]{
          font-family: "PT Sans";
          font-size: 14px;
          margin: 5px 0 0 0;
          border: solid 1px #CFCFCF;
          border-radius: 3px;
          padding: 3px 10px;
          width: 400px;
        }
        input[type="checkbox"]{
          position: relative;
          top: 9px;
          text-align: left;
          height: 32px;
        }
        select{
          width: 200px;
        }
        .multiple{
          width: 600px;
          height: 200px;
        }
        img{
          margin: 10px 0 0 0;
        }
        .login{
          margin: 20px 0 0 0;
        }
      }
    }
  }
}