.button{
  display: inline-block;
  cursor: pointer;
  margin: 10px 0 0 0;
  font-size: 14px;
  padding: 5px 11px 5px 12px;
  border-radius: 8px;
  &.red{
    background: #F33;
    color: #FFF;
  }
  &.default{
    background: #fff;
    color: #006699;
    font-weight: bold;
  }
}