.icon{
  display: inline-block;
  position: relative;
  background: url(/images/sprite.png);
  &.arrow-left{
    width: 14px;
    height: 22px;
    background-position: 0px 0px;
  }
  &.arrow-right{
    width: 14px;
    height: 22px;
    background-position: -14px 0px;
  }
  &.open-mobile-menu{
    width: 30px;
    height: 28px;
    background-position: -28px 0px;
    &.active{
      width: 46px;
      height: 46px;
      background-position: -58px -28px;
    }
  }
}