*{
  margin: 0;
  padding: 0;
  border: none;
}

@import "fonts.less";
@import "icons.less";
@import "elements.less";

html{
  height: 100%;
  body{
    height: 100%;
    overflow-x: hidden;
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 14px;
    .darken{
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 20;
      display: none;
    }
    .modal{
      position: fixed;
      z-index: 100;
      width: 750px;
      left: 50%;
      margin: 0 0 0 -375px;
      top: 10%;
      background: #FFF;
      display: none;
      &.small{
        width: 560px;
        margin: 0 0 0 -280px;
        .modal-header{
          width: 510px;
        }
        .modal-content{
          width: 520px;
        }
      }
      form{
        .row{
          float: left;
          width: 100%;
          margin: 0 0 10px 0;
        }
        img{
          float: left;
          margin: 0 10px 0 0;
        }
        input[type="text"]{
          font-size: 15px;
          border: solid 1px #CCC;
          padding: 3px 10px;
          width: 298px;
        }
        textarea{
          font-size: 15px;
          border: solid 1px #CCC;
          padding: 3px 10px;
          width: 498px;
          resize: none;
          font-family: 'PT Sans';
        }
      }
      .modal-content{
        padding: 40px 20px;
        float: left;
        width: 710px;
        .object-complaint-form{
          .top{
            background: #F3F3F3;
            float: left;
            width: 710px;
            margin: -40px -20px -20px -20px;
            padding: 40px 20px;
            label{
              float: left;
              margin: 0 50px 0 0;
              input{
                float: left;
                margin: 0 5px 0 0;
                position: relative;
                top: 2px;
              }
            }
          }
          .bottom{
            float: left;
            width: 710px;
            margin: 40px 0 0 0;
            .left{
              float: left;
              width: 300px;
              padding: 0 0 0 50px;
              border-right: solid 1px #CCF;
              textarea[name="problem"]{
                width: 260px;
              }
              .fast{
                cursor: pointer;
              }
              label{
                float: left;
                width: 100%;
                margin: 5px 0;
                input{
                  float: left;
                  margin: 0 5px 0 0;
                  position: relative;
                  top: 2px;
                }
              }
            }
            .right{
              float: left;
              width: 284px;
              padding: 0 0 0 75px;
              .row{
                input[type="text"]{
                  width: 180px;
                }
              }
            }
          }
        }
      }
      .modal-header{
        float: left;
        background: #347faf;
        color: #FFF;
        font-size: 23px;
        padding: 18px 25px;
        width: 700px;
        .header-text{
          float: left;
          width: 400px;
        }
        .close{
          float: right;
          line-height: 29px;
          font-size: 50px;
          cursor: pointer;
        }
      }
    }
    a{
      font-size: 12px;
      color: #3399cc;
      &.bold{
        font-size: 13px;
        font-weight: bold;
      }
    }
    .top-header{
      font-size: 27px;
      color: #444;
      background: #fff;
      width: 100%;
      border-top: solid 17px #069;
      padding: 10px 0 5px 0;
      border-bottom: solid 1px #069;
      .centered{
        width: 1024px;
        margin: 0 auto;
        height: 62px;
        .login{
          float: right;
          margin: 25px;
          font-weight: normal;
        }
        .logo{
          width: 64px;
          height: 64px;
          background: url("/images/logo.png");
          float: left;
        }
        .text{
          float: left;
          margin: 15px;
          font-family: 'PT Sans Caption';
          span{
            margin: 0 20px;
            font-weight: bold;
          }
        }
      }
    }
    .footer{
      height: 136px;
      background: #CCC;
      width: 100%;
      bottom: 0;
      .inner{
        padding: 20px 15px;
        .to-left{
          float: left;
          text-align: left;
          .sq-link{
            float: left;
            display: block;
            margin: 0 20px 0 0;
          }
        }
        .to-right{
          float: right;
          text-align: right;
          a{
            cursor: pointer;
          }
          .global-complaint{
            display: inline-block;
            margin: 10px 0 0 0;
            font-size: 13px;
          }
          .object-suggestion{
            font-size: 13px;
          }
        }
      }
    }
    .container{
      height: 680px;
      position: relative;
      width: 100%;
      .arrow{
        height: 31px;
        background: #069;
        position: absolute;
        cursor: pointer;
        top: 200px;
        &.hide-left-bar{
          right: -32px;
          border-radius: 0 10px 10px 0;
          width: 25px;
          padding: 7px 0 0 7px;
        }
        &.hide-right-bar{
          left: -32px;
          border-radius: 10px 0 0 10px;
          width: 22px;
          padding: 7px 0 0 10px;
        }
      }
      #map{
        width: 100%;
        height: 100%;
        float: left;
        background: #CCC;
        position: absolute;
        z-index: 2;
        padding-left: 198px;
        padding-right: 198px;
      }
      .left{
        width: 195px;
        min-height: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background: #FFF;
        z-index: 5;
        border-right: solid 3px #CFF;
        .line{
          width: 96px;
          height: 26px;
          text-align: left;
          background: #069;
          color: #FFF;
          font-size: 17px;
          padding: 3px 0 0 9px;
          margin: 12px;
          &.best-line{
            width: 135px;
          }
          &.filter-line{
            width: 96px;
          }
        }
        .tabs{
          float: left;
          width: 100%;
          z-index: 2;
          position: relative;
          .tab{
            float: left;
            padding: 5px 6px;
            border-radius: 5px 5px 0 0;
            border: solid #CCC;
            border-width: 1px 1px 0 1px;
            background: #CCC;
            display: block;
            margin: 0 0 0 5px;
            font-size: 13px;
            cursor: pointer;
            text-decoration: underline;
            &.active{
              background: #fff;
              font-weight: bold;
              text-decoration: none;
              cursor: default;
            }
          }
        }
        .tab-content{
          float: left;
          width: 165px;
          margin: -1px 0 0 0;
          border: solid #CCC;
          border-width: 1px 0 1px 0;
          padding: 15px;
          height: 130px;
          overflow-y: auto;
          .content{
            display: none;
            &.active{
              display: block;
            }
          }
          ul{
            list-style: none;
            li{
              input[type="checkbox"]{
                position: relative;
                top: 2px;
                margin: 0 8px 0 0;
              }
            }
          }
        }
        .best{
          float: left;
          width: 100%;
          .best-list{
            overflow-y: auto;
            min-height: 200px;
            .list-item{
              border-bottom: solid 1px #f0f0f0;
              margin: 12px;
              padding: 0 0 12px 0;
              a{
                font-size: 14px;
              }
            }
          }
        }
      }
      .right{
        width: 195px;
        min-height: 100%;
        height: 100%;
        position: absolute;
        right: -195px;
        background: #FFF;
        z-index: 5;
        border-left: solid 3px #CFF;
        .owner{
          float: left;
          margin: 10px;
          width: 175px;
          .owner-message{

          }
          .owner-header{
            font-weight: bold;
            font-size: 15px;
          }
        }
        .comments{
          padding: 10px 14px 0;
          text-align: center;
          .do-comment{
            background: #ff9900;
            color: #333;
            border-radius: 8px;
            font-weight: bold;
            font-size: 14px;
            display: inline-block;
            padding: 9px 31px;
            margin: 10px 0 0 0;
            cursor: pointer;
          }
          .comments-line{
            color: #069;
            font-size: 20px;
            font-weight: bold;
            text-align: left;
          }
          .comments-list{
            text-align: left;
            .comment{
              background: #f0f0f0;
              margin: 12px 0 0 0;
              padding: 5px;
              .who{
                font-weight: bold;
                font-size: 15px;
              }
              .text{

              }
            }
          }
        }
        .object-info{
          padding: 10px 14px 0;
          border-bottom: solid 1px #f0f0f0;
          .id{
            font-size: 20px;
            font-weight: bold;
            color: #069;
          }
          .address{
            font-size: 15px;
            font-weight: bold;
            color: #333;
          }
          .sub-type{
            color: #999;
          }
          .type{
            margin: 5px 0;
          }
          .rating-container{
            float: left;
            width: 100%;
            text-align: center;
            i{
              cursor: pointer;
            }
          }
          .image{
            display: block;
            width: 167px;
            height: 100px;
            margin: 10px 0;
            &.empty{
              padding: 40px 0 0 0;
              border: solid 1px #CFCFCF;
              text-align: center;
              height: 60px;
              color: #FFF;
              background: #444;
            }
            img{
              display: block;
              margin: 0 auto;
            }
          }
          .current-rating, .current-position{
            text-align: left;
          }
          .current-position{
            margin: 0 0 5px 0;
          }
        }
      }
    }
  }
}