<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <title>{% block title %}Панель администратора{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/admin.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('/js/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/admin.js') }}" type="text/javascript"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>
{% include '::admin_menu.html.twig' %}
<div class="admin-container">
{% block body %}{% endblock %}
</div>
</body>
</html>
