{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Панель администратора</h1>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <p>
        Сейчас в базе:
    </p>
    <ul class="default">
        <li>Объектов: {{ o }}</li>
        <li>Типов объектов: {{ ot }}</li>
        <li>Типов продукции: {{ st }}</li>
    </ul>
    {% endif %}

    {% if is_granted('ROLE_OWNER') %}
        <p>
            Для редактирования прикрелпенных к вам объектов, воспользуйтесь ссылкой выше
        </p>
    {% endif %}

{% endblock %}
