<div class="object-info">
    <div class="id">#{{ node.id }}</div>
    <div class="address">{{ node.address }}</div>
    <div class="type">{{ node.objectType.name }}</div>
    <div class="sub-type">{{ node.saleType.name }}</div>
    <img class="image" src="" alt=""/>
    <div class="rating-container">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star empty"></div>
        <div class="star empty"></div>
    </div>
    <div class="current-rating">Рейтинг: 3.2</div>
    <div class="current-position">Местов рейтинге: 122</div>
</div>
<div class="comments">
    <div class="comments-line">Отзывы</div>
    <div class="comments-list">
        <div class="comment">
            <div class="who">Василий</div>
            <div class="text">В этой палатке самые  добрые продавцы, за 20 лет ни разу не обвесили</div>
        </div>
    </div>
    <a class="do-comment">Оставить отзыв</a>
    <a class="red button">Пожаловаться на объект</a>
</div>