{% extends '::base.html.twig' %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('/css/main_mobile.css') }}">
 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/base.js?scope='~scope) }}" type="text/javascript"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function(){
            var menuLayerSwitch = $('.open-mobile-menu');
            var list = {{ list | raw }};

            var map = document.getElementById('map');
            var menuLayer = document.getElementsByClassName('menu-layer')[0];
            var niceLayer = document.getElementsByClassName('nice-layer')[0];
            var objectLayer = document.getElementsByClassName('object-info-layer')[0];
            var topMenu = document.getElementsByClassName('top-menu')[0];
            var openObjectInfo = document.getElementsByClassName('open-object-info')[0];
            var modal = document.getElementsByClassName('modal')[0];

            map.style.height = window.innerHeight - topMenu.offsetHeight + 'px';
            menuLayer.style.height = window.innerHeight - topMenu.offsetHeight + 'px';
            objectLayer.style.height = window.innerHeight - topMenu.offsetHeight + 'px';
            modal.style.height = window.innerHeight - topMenu.offsetHeight + 'px';

            niceLayer.style.height = window.innerHeight - topMenu.offsetHeight + 'px';

            menuLayerSwitch.on('click tap',function(){
                $(niceLayer).toggle();
                $(menuLayer).toggle();
                menuLayerSwitch.toggleClass('active');
            });

            $(openObjectInfo).on('click tap',function(){
                if($(objectLayer).attr('data-current-id') != 0){
                    $(menuLayer).hide();
                    $(objectLayer).show();
                }else{
                    alert('Объект не выбран');
                }

            });

            $(document).on('click tap','.object-info-layer .node-id span',function(){
                $(menuLayer).show();
                $(objectLayer).hide();
            });

            ymaps.ready(function(){
                moscowRegionMap = new ymaps.Map("map",
                        {
                            center: [55.76, 37.64],
                            zoom: 8,
                            controls: ['smallMapDefaultSet']
                        }
                );

                var mapObjects = [];
                iterate(list,function(key,val){
                    var g = new ymaps.GeoObject({
                        geometry: {
                            type: "Point",
                            coordinates: val.coordinates
                        },
                        properties: {
                            clusterCaption: 'Объект # '+val.id,
                            balloonContent: 'Объект # '+val.id
                        }
                    },{
                        hasBaloon: false
                    });
                    g.properties.set('mrocId',val.id);
                    g.events.add('balloonopen',function(e){
                        fillObjectLayer(g.properties.get('mrocId'));
                    });

                    mapObjects.push(g);
                });

                var cluster = new ymaps.Clusterer();
                var activeObjectMonitor;

                cluster.events
                        .add('balloonopen',function(event){
                            activeObjectMonitor = new ymaps.Monitor(event.get('cluster').state);
                            activeObjectMonitor.add('activeObject', function (newValue) {
                                fillObjectLayer(newValue.properties.get('mrocId'));
                            });
                        })
                        .remove('balloonclose', function (event) {
                            activeObjectMonitor.removeAll();
                        });


                cluster.add(mapObjects);
                moscowRegionMap.geoObjects.add(cluster);
            });

            function fillObjectLayer(mrocId)
            {
                var panel = $('.object-info-layer');
                var url = '{{ path('_xhr_mroc_main_get_extended_info',{'mobile':true}) }}';

                if(panel.attr('data-current-id') != mrocId){
                    $.ajax({
                        type: 'post',
                        url: url,
                        data:{
                            id: mrocId
                        },
                        success: function(result)
                        {
                            panel.attr('data-current-id',mrocId);
                            panel.html(result.view);

                            $(menuLayer).hide();

                            $(niceLayer).show();
                            $(objectLayer).show();
                        }
                    })
                }
            }
        };
    </script>
{% endblock %}

{% block body %}
    <div class="mobile-wrapper">
        <div class="top-menu">
            <div class="left-block">
                <i class="icon open-mobile-menu"></i>
            </div>
            <div class="header">ГУП “МосОблКачество”</div>
        </div>
        <div class="nice-layer"></div>
        <div class="menu-layer">
            <div class="inner">
                <a class="open-filter">Фильтр</a><br>
                <a class="open-object-info">Информация об объекте</a><br>
                <div class="hr"></div>
                <div class="button red complaint">Пожаловаться</div>
                <div class="button default question">Отправить вопрос</div>
                <div class="links">
                    <a href="" class="global-complaint">Пожаловаться в контролирующие органы</a>
                    <a href="">Сайт министерства потребительских услуг и рынка МО</a>
                    <a href="">Сайт министерства потребительских услуг и рынка МО</a>
                </div>
            </div>
        </div>
        <div class="object-info-layer" data-current-id="0"></div>
        <div class="darken"></div>
        <div class="modal">
            <div class="modal-header">
                <div class="header-text"></div>
                <div class="close">&times;</div>
            </div>
            <div class="modal-content"></div>
        </div>
        <div id="map"></div>
    </div>
{% endblock %}